header{
    background: url('../image.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1000px;
}
@media screen and (max-width: 1480px){
    header{
        background-size: cover;
        height: 550px;

    }
}
@media screen and (max-width: 1024px){
    header{
        background-size: cover;
        height: 400px;

    }
}
/* @media screen and (max-width: 978px){
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;


    }
} */
@media screen and (max-width: 768px){
    header{
        background-size: cover;
        height: 350px;

    }
}
@media screen and (max-width: 425px){
    header{
        background-size: cover;
        height: 200px;

    }
}
@media screen and (max-width: 375px){
    header{
        background-size: cover;
        height: 150px;

    }
}

.search-form{
    margin-left: 10px;
}

body{
    background-color: #122c34;
   
}



.card{
    background-color: #f1ebe4;
    margin: 10px;
    border: solid;
    border-color: goldenrod;
    border-radius: 10px;
    display: flex;
}


.card-img{
    margin: 10px;
    flex: 1;
    overflow: hidden;
    text-align: center;
}

.cuisineOptions{
    position: absolute;
    top: 9.5px;
    left: 175px;
   
}

.mealType{
    position: absolute;
    top: 9.5px;
    left: 340px;
   
}

.wineType{
    position: absolute;
    top: 9.5px;
    left: 740px;
   
}
#search-history{
display: inline-block; 
width: 15%; 
vertical-align: top; 
color: ivory; 
text-align: center; 
border: solid; 
border-width: 4px; 
margin: 10px; 
border-color: rgb(227, 207, 156); 
border-radius: 10px;
}

#searchButton{
    position: absolute;
    top: 15px;
    left: 525px;
}

#wineResults{
    background-color: #eee3ce;
    border-radius: 8px;
    margin: 30px;
    position: relative;
    
    

}
#wineResults p{
    font-size: 25px;
    padding: 25px;
    text-align: center;
   
}